.UserType {
  display: flex;
  .FormControl {
    margin: 24px;
    margin-left: 0;
  }
  .Group {
    margin: 8px 0;
    flex-direction: row;
  }
  .userTypeText {
    color: green;
    margin-left: 20px;
    font-weight: 700;
  }
}
.Gender {
  display: flex;
}