.container {
  display: flex;
  flex-Wrap: wrap
}
.textField {
  margin-left: 10px;
  margin-right: 10px;
  width: 78px;
  svg{
    color:#fff
  }
  & > div {
    padding: 12px 5px 7px;
  }
}
.dense {
  margin-top: 19px
}
.menu {
  width: 200px
}
.input {
 margin-bottom: 0;
  color:#ffffff;
}
.open {
  float: right;
  li {
    float: left;
  }
}
.searchIcon{
  .icon:focus{
    outline: none;
    background: transparent;
  }
}
.Search {
  // li {
  //   float: none;
  // }
  // display: flex;
  // align-items: center;
  // .argallerySearch {
  //   margin: 10px;
  //   padding-top: 10px;
  //   div {
  //     display: block;
  //     font-size: 16px;
  //   }
  // }
}
@media (max-width:576px) {
  .Search{
    margin-top: 8px;
  }
  .open {
    background: #111e37;
    width: 100%;
    li {
      float: none;
      div{
        width: 100%;
      }
    }
  }
  .searchIcon{
    position: absolute;
    right: 10px;
    top: 0px;
  }
}
.textField div div {
  padding: 11.5px 5px 7px;
  color:#ffffff;
}
@media (max-width:600px) {
  .textField div div {
    padding: 9.5px 5px 7px;
  }
}
.textField div:before {
   border-bottom: 1px solid #9e9e9e;
 }
.textField div:after {
  display: none;
}
.textField div:hover:before {
  border-bottom: 2px solid #26a69a!important;
  bottom: -1px;
}

.Search{
  .searchResult{
    padding: 0 15px;
  }
  .searchInput {
    color: #fff;
    cursor: pointer;
    input{
      padding-left: 10px;
    }

  }

  //.icon {
  //  background: transparent;
  //  cursor: pointer;
  //  &:hover {
  //    background-color: transparent;
  //  }
  //  &:focus {
  //    background-color: transparent;
  //  }
  //}
}


