.ContactCreatorDialog {
  .dialogTitle {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    margin: 0;
    padding: 16px;
  }
  .closeButton {
    position: absolute;
    right: 8px;
    top: 8px;
    color: #9e9e9e;
  }
  .dialogContent {
    overflow: hidden;
    .contactCreatorForm {
      margin-top: 0;
      margin-bottom: 90px;
    }
    .descText {
      margin-top: -100px;
      line-height: 2em;
      font-size: 15px;
    }
  }
}

.contactButton {
  padding: 8px 30px;
  border-radius: 50px;
  color: #fff;
  position: absolute;
  background: linear-gradient(90deg, #6e3694, #5253c9, #6f22a5);
  background-size: 400%;
  transition: 0.5s;
  top: 10px;
  left: 70px;
  z-index: 0;
  animation: animate 8s linear infinite;
  
}
@keyframes animate {
  from {
    background-position: 0;
  }
  to {
    background-position: 400%;
  }
}
@media screen and (max-width: 992px) {
  .contactButton {
    position: relative;
    top: auto;
    left: auto;
  }
}