.PostInfoIcons {
  .postInfoIcon {
    padding: 12px 8px;
    cursor: pointer;
    background: transparent;
    &:hover {
      background-color: transparent;
    }
    &:focus {
      background-color: transparent;
    }
  }
  .numberViews {
    font-size: 16px;
    margin-top: -3px;
  }
}
