.FullPageLoader.loader {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    z-index: 99;
    .loderContent {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .progressText {
        color: #fff;
        font-size: 18px;
    }
}
.PostsContainer {
    .buttonUp {
        position: fixed;
        bottom: 10px;
        right: 10px;
        z-index: 100;
    }
    .tabBox {
        margin: 15px auto;
    }
}
.AppBarElement {
    margin: 0 auto;
    .transparentFocus {
        &:focus {
          outline: none;
          background: transparent;
        }
    }
}