.package-cart {
  min-width: 255px;
  position: relative;
  height: auto;
  background: #fff;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  margin: 10px;
  padding: 40px 0 0;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
  border-radius: 0;
  .coupon-container {
    margin-bottom: 15px;
    min-height: 30px;
    form {
      padding-top: 16px;
      padding-bottom: 0;
      margin-top: -20px;
    }
    .coupon-input {
      max-width: 125px;
      border: 1px solid #1f7eef;
      height: 10px;
      margin-right: 10px;
      border-radius: 5px;
      padding: 10px 0 10px 5px;
      transform: translateY(2px);
      &:focus {
        border-bottom: 1px solid #1f7eef !important;
        box-shadow: none !important;
      }
    }
    .red-text {
      position: relative;
      p {
        position: absolute;
        top: -20px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  .package-name {
    margin: 0 0 20px;
    padding: 0;
    color: #161a22;
    font-size: 28px;
    font-family: Roboto;
    text-align: center;
  }
  .package-title {
    text-align: center;
    position: relative;
    .package-price {
      padding: 25px 0;
      font-size: 22px;
      margin: 0 0 35px;
    }
    .button-group {
      position: absolute;
      bottom: -15px;
      right: 50px;
      .active {
        background: #1f7eef;
        color: #fff;
      }
    }

    span.vat {
      font-size: 11px;
      position: absolute;
      bottom: -35px;
      left: 35%;
    }
  }
  .options-list {
    border-top: 1px solid #000;
  }
  .options-item {
    padding: 10px 20px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    font-size: 16px;
    line-height: 25px;
  }
  .package-button {
    position: relative;
    z-index: 2;
    color: #161a22;
    width: 100%;
    height: 80px;
    line-height: 40px;
    display: block;
    text-align: center;
    font-size: 28px;
    font-family: Roboto;
    cursor: pointer;
    margin: 0;
    text-decoration: none;
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#fff),
      color-stop(#fff),
      color-stop(#5253c9),
      to(#79d4f4)
    );
    background: linear-gradient(90deg, #fff, #fff, #5253c9, #79d4f4);
    background-size: 400%;
    outline: none;
    border: none;
    &:hover {
      animation: animate 8s linear infinite;
      color: #fff;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: -5px;
      right: -5px;
      bottom: -5px;
      z-index: -1;
      background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#6e3694),
        color-stop(#5253c9),
        to(#6f22a5)
      );
      background: linear-gradient(90deg, #6e3694, #5253c9, #6f22a5);
      background-size: 400%;
      -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 0;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      text-decoration: none;
    }

    &:hover:before {
      opacity: 1;
      -webkit-animation: animate 8s linear infinite;
      animation: animate 8s linear infinite;
    }
  }
  .package-button.button-disabled {
    color: darkgray;
  }
}

@keyframes animate {
  from {
    background-position: 0;
  }

  to {
    background-position: 400%;
  }
}
