.ProjectSummary.card {
  width: 300px;
  margin: 10px;
  .editLink {
    margin-top: 10px;
  }
  .actions {
    display: flex;
    justify-content: space-between;
  }
  .avatar {
    margin: 10px;
  }
  .postAmount {
    color: #188e00;
  }
  .postText {
    overflow: hidden;
		text-overflow: ellipsis;
  }
}
