/*Creator Profile adding skiills*/
.skills .ReactTags__tagInput {
  width: 200px;
}
.skills .ReactTags__tagInput input.ReactTags__tagInputField,
.skills .ReactTags__tagInput input.ReactTags__tagInputField:focus {
  height: 31px;
  font-size: 12px;
  border: 1px solid #eee;
}
/* Styles for selected tags */
.skills .ReactTags__selected span.ReactTags__tag {
  font-size: 12px;
}
/* Styles for suggestions */
.skills .ReactTags__suggestions ul {
  width: 200px;
}
/*end adding skills*/
/*active nav links*/