.CreatorDetails {
    margin-top: 25px;
    .postsHeading {
        font-size: 30px;
        font-weight: 600;
        text-align: center;
    }
    .creatorCardContainer {
        margin-right: 100px;
    }
}
.CreatorPostSummary {
    width: 300px;
    margin: 10px;
    .actions, .postViews {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .postInfoIcon {
        cursor: pointer;
        background: transparent;
        &:hover {
            background-color: transparent;
        }
        &:focus {
            background-color: transparent;
        }
      }
}
.Creators {
    .heading {
        text-align: center;
        font-size: 30px;
        font-weight: 600;
    }
}
.CreatorSummary {
    .socialIcon {
        margin: 20px 10px;
        color: black;
        font-size: 24px;
    }
    .imageLogo {
        width: 20px;
    }
}
@media screen and (max-width: 767px) {
  .CreatorDetails {
    width: 100%;
    .creatorCardContainer {
      width: 100%;
      margin-right: 0;
    }
  }
}