.postContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
	&.hidden {
		animation: animate 0s 4s forwards;
		opacity: 0;
		height: 60vh;
		display: flex;
		justify-content: center;
		font-weight: bold;
		font-size: 28px;
	}
	.card {
		max-width: 400px;
		min-width: 300px;
		overflow: initial;
		margin: 10px;
	}
	.avatar {
		margin: 10px;
	}
	.editLink {
		margin-top: 10px;
	}
	.actions {
		display: flex;
	}
	.postInfoIcon {
		background: transparent;
		cursor: default;
		&:hover {
			background-color: transparent;
		}
		&:focus {
			background-color: transparent;
		}
	}
	.numberViews {
		font-size: 18px;
		margin-left: 10px;
		margin-top: -3px;
	}
}
@keyframes animate {
	to {
		opacity: 1;
	}
}
.backButtonContainer {
	width: 250px;
	margin: 20px 20px 20px -30px;

	.backButtonText {
		margin: -1px 10px;
		position: relative;
		top: -2px;
	}
}

.buttonGroup {
	display: flex;
	justify-content: center;

	.demoButton {
		margin-left: 15px;
	}
}
.demoText {
	position: absolute;
	top: 15px;
	right: 15px;
	color: #3f51b5;
	text-decoration: underline;
	cursor: pointer;
	font-size: 18px;
	&:hover {
		color: #8a92be;
	}
}
.postContainer .buttonGroup .viewMargin {
	margin-left: 0;
}
