.UserProfile {
  .updateEmail {
    position: absolute;
    top: 14px;
    right: 5px;
  }
}
.activePackageInfo {
  margin-bottom: 30px;
  color: green;
  line-height: 10px;
}

.dialogTitle {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  margin: 0;
  padding: 16px;
}
.sendRequestBtn {
  padding: 5px 10px;
  &:disabled {
    cursor: not-allowed;
    pointer-events: all;
    background: #9f9f9f !important;
  }
}
.dialogTitleCloseButton {
  position: absolute;
  right: 8px;
  top: 8px;
  color: #9e9e9e;
}
.dialogContent {
  margin: 0;
  padding: 16px;
}
.descText {
  margin-top: -100px;
  line-height: 2em;
  font-size: 15px;
}
.credentialsText {
  line-height: 2em;
  font-size: 15px;
  margin-bottom: 40px;
}
.dialogActions {
  justify-content: center;
  padding: 10px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  margin: 0;
  padding: 8px;
}
.skillsSocialLinksAction {
  display: block;
  min-width: 600px;
  .SocialLinksFields {
    width: 80%;
    margin: 15px auto;
  }
  .dialogActions {
    text-align: center;
  }
}
.creatorCredentials {
  min-width: 600px;
}
.addSocialLinksIcons {
  position: relative;
  right: -7px;
}
.socialLinksContainer {
  margin-top: -50px;
  margin-bottom: 40px;
}
.socialLinkPng {
  position: relative;
  background: #e9ebee;
  padding: 10px;
  top: 53px;
  width: 35px;
}
.socialLinkInput {
  margin-left: 45px !important;
  width: 85% !important;
}
.socialLinkIcon {
  position: relative;
  background: #e9ebee;
  padding: 10px;
  top: 45px;
}
