.rejectBtn {
  display: inline-block;
  position: relative;
  margin-left: 20px;
}
.showTextArea{
  width: 225px;
  display: flex;
  text-align: center;
  flex-direction: column;
}
.formContainer {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  justify-content: center;
}
.centerAlign {
  text-align: center;
  margin-top: 20px;
}
.typography {
  padding: 16px;
  margin-bottom: 16px;
  max-width: 350px;
}
.textField {
  width: 100%;
  height: 130px;
}
.primeConfirmBtn:disabled {
  cursor: not-allowed;
  pointer-events: all;
}
@media only screen and (max-width: 576px) {
  .rejectBtn {
    margin-left: 20px;
  }
}
