.EmailVerifyNotification.verifyContainer {
  position: relative;
  width: 100%;
  top: -15px;
  text-align: center;
  right: 0;
  .verifyText {
    padding: 15px;
    line-height: 1.8em;
    color: #fff;
  }
  .resendLink {
    text-decoration: underline;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
  }
}
.Notifier {
  .notifPopup {
    background: black;
    border-radius: 10px;
    padding: 10px 15px;
  }
  .notifIcon {
    margin-left: 10px;
    position: relative;
    left: -10px;
    top: 5px;
    color: green;
  }
  .notifIconError {
    margin-left: 10px;
    position: relative;
    left: -10px;
    top: 5px;
    color: red;
  }
}
.SidebarExpansionPanels.root {
  width: 100%;
  .heading {
    font-size: 18px;
    font-weight: 400;
    padding-left: 30px;
  }
  .expensionPanel {
    background: transparent;
    box-shadow: none;
    margin-bottom: 15px;
    &::before {
      background: transparent;
    }
  }
  .expensionPanelSupport {
    margin-bottom: 0;
  }
  .expensionDetailsList {
    width: 90%;
  }
  .panelMoreIcon {
    right: 25px;
  }
  .panelLink {
    color: black;
  }
  .detailsItem {
    padding: 5px;
  }
  .detailsIcon {
    position: absolute;
    top: 8px;
    left: 0;
  }
  .postsPanels {
    background: transparent;
    box-shadow: none;
    width: 140px;
    & > div {
      padding-left: 0;
    }
    .postsPanelDetails {
      width: 180px;
    }
  }
}
.SignedInLinks {
  .searchInput {
    color: #fff;
    cursor: pointer;
    width: calc(100vw / 2.5);
  }
  .icon {
    background: transparent;
    cursor: pointer;
    &:hover {
      background-color: transparent;
    }
    &:focus {
      background-color: transparent;
    }
  }
  .searchButton {
    background: transparent;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    padding-top: 20px;
  }
}
