.contentTypeIcon {
    margin: 5px;
    font-size: 15px;
}
.contentTypeImage {
    width: 15px;
    margin: 0 5px;
    transform: translateY(3px)
}
.youtubeIcon {
    color: #ff0000;
} 
.WebURLIcon {
    color: #0645AD;
}
.videoIcon {
    color: #0000f8;
}
.audioIcon {
    color: #e23f76;
}
.BundleIcon {
    color: #15aabf;
}
.ZFIcon {
    color: #7a7c7f;
}