.sidenav {
  position: fixed;
  max-width: 250px;
}
.avatar {
  width: 35px;
}
.item {
  padding: 10px 20px;
}
.icons {
  color: black;
}
.userName {
  position: relative;
  top: -12px;
  left: 20px;
  color: black;
}

.amount.amountColor {
  position: absolute;
  color: #188e00;
  top: 10px;
  left: 55px;
  font-size: 12px;
  min-width: 110px;
}
.arStudio {
  position: relative;
  left: 10px;
  top: -10px;
  color: black;
}
.pageIcon.avatar {
  width: 35px;
  border-radius: 0;
}
.links {
  position: relative;
  top: -5px;
  left: 25px;
  color: black;
}
.notifLI {
  position: relative;
}
.notifLength {
  position: absolute;
  color: red;
  left: 45px;
  top: 0;
  font-size: 16px;
  font-weight: bold;
}