.PostEdit {
  .targetImageInfo {
    margin-bottom: -65px;
    margin-top: 90px;
  }
  .labelText {
    margin-top: 30px;
  }
  .uploadText {
    position: relative;
    margin-top: 10px;
    font-size: 1rem;
    text-align: left;
    color: #9e9e9e;
  }
  .straightLine {
    border: 0.3px solid grey;
    opacity: 0.5;
    width: 100%;
  }
  .showInfo {
    transform: rotate(50deg);
    transition: 0.3s;
  }

  .hideInfo {
    transform: rotate(0deg);
    transition: 0.3s;
  }
  .clipboardText {
    position: absolute;
    top: -18px;
    right: 0;
    padding: 5px;
    border-radius: 5px;
    background-color: #909090;
    opacity: 0;
    color: #fff;
    animation-name: example;
    animation-duration: 3s;
  }
  .loadingWrap {
    position: absolute;
    width: 49px;
    height: 49px;
    top: 3%;
    right: 10%;
  }
  .dropzone {
    border: none;
  }
  @keyframes example {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  .customWidth {
    max-width: 200px;
  }
  .copyTextIcon {
    position: absolute;
    cursor: pointer;
    z-index: 999;
  }
  .infoIcon {
    position: absolute;
    right: 0;
    top: 10px;
    color: #0089ff;
    cursor: pointer;
  }
  .targetPreview {
    margin-top: 90px;
    max-width: 100%;
    cursor: pointer;
  }
  .labelCopyPostId {
    position: absolute;
    left: 36px;
    top: -10px;
    font-weight: 700;
    color: #9e9e9e;
    cursor: pointer;
    z-index: 99;
  }
  .ratingContainer {
    margin-top: 20px;
  }
  .ratingText {
    @media screen and (min-width: 720px) and (max-width: 992px) {
      position: relative;
      top: 15px;
    }
    @media screen and (min-width: 1641px) {
      position: relative;
      top: 15px;
    }
  }
  .ratingStars {
    top: 10px;
    & label {
      font-size: 20px;
    }
  }
  .uploadedFileName {
    padding: 10px;
    border-radius: 5px;
    word-break: break-all;
  }
  .hideDropzone {
    width: auto;
    height: auto;
  }
  .formStyle {
    width: 325px;
    margin: auto;
    transform: translateY(15%);
    text-align: center;
    background-color: white;
    @media only screen and (max-width: 600px) {
      width: 290px;
    }
  }
  .saveBtn:disabled {
    cursor: not-allowed;
    pointer-events: all;
  }
  .saveBtn:hover:disabled {
    opacity: 0.7;
  }
  .postStatus {
    padding-left: 12px;
    font-size: 18px;
    text-align: center;
  }
  .TestMode {
    color: #188e00;
  }
  .InReview {
    color: rgb(255, 115, 0);
  }
  .Rejected {
    color: red;
  }
  .tagError {
    margin: 10px 0;
    text-align: center;
    color: red;
  }
}
