.Prime {
  margin: 100px auto;
  width: 70%;
  .root {
    width: 100%;
    margin-top: 24px;
    overflow-x: auto;
    font-size: 13px;
    z-index: 100;
  }
  .table {
    min-width: 450px;
  }
  &:disabled{
    background-color:#ddd ;
  }
  .typography {
    padding: 16px;
    margin-bottom: 16px;
    max-width: 350px;
  }
  .contentBox {
    position: relative;
    text-align: center;
  }
  .loadingWrap{
       position: relative;
       width: 49px;
       height: 49px;
       float: right;
     }

  .textField {
    width: 100%;
    height: 130px;
  }

  .tableRow {
    & i {
      margin-bottom: 0 !important;
    }
  }
  .leftPadding {
    padding-left: 0; 
  }
  .rightPadding {
    padding-right: 0;
  }
  .targetMargin {
    margin: 40px 0;
  }
  .primePlayer {
    height: auto !important; 
  } 
  .postTargetContent {
    margin: 25px 0;
  }
  .toInReview {
    margin-left: 20px;
  }
  @media only screen and (max-width: 992px) {
    width: 90%;
    .leftPadding, .rightPadding {
      text-align: center;
      padding: 0;
    }
    .rightPadding {
      margin-top: 25px;
    }
    .primePlayer {
      margin-top: 25px;
    }
    .postTargetContent {
      margin-bottom: 90px;
    }
  }  

}
.PrimeSpace {
  .buttonUp {
    position: fixed;
    bottom: 10px;
    right: 10px;
  }
  .tabBox {
    margin: 15px auto;
  }
}
.PrimeSummary.card {
  width: 320px;
  margin: 10px;
  .btnPosition {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  .avatar {
    margin: 10px;
  }
  .cardImage {
    max-width: 100%;
    max-height: calc(100vh - 250px);
  }
  .actions {
    display: flex;
    position: relative;
  }
  .postName {
    position: relative;
    .postPrice {
      position: absolute;
      color: red;
      font-size: 24px;
      font-weight: bold;
      top: 24px;
      right: 12px;
    }
  }
}