.arpost-modal {
  .app-bar {
    position: relative;

    .title {
      margin-left: 10px;
      flex: 1;
    }
  }
}

.enterprise-modal-submit-btn {
  padding: 10px 25px;
  &:disabled {
    cursor: not-allowed;
    pointer-events: all;
    background: #DFDFDF !important;
  }
}
.enterprise-modal-cancel-btn {
  padding: 10px 25px;
}
.InAppModal {
  .inappmodal-dialog-content {
    width: 60%;
    margin: 0 auto;
  }
}