.list {
  width: 250px;
}
.fullList {
  width: auto;
}
.list .avatar {
  width: 35px;
  height: 35px;
  margin: 0;
}
.amount {
  position: relative;
  color: #188e00;
  top: 0;
  left: 0;
  font-size: 12px;
}
.menuButton {
  top: 5px;
  float: left;
}
.expanseText {
  position: absolute;
  top: -22px;
  padding: 35px;
  font-size: 1rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
}
.expanseIcon {
  position: absolute;
  top: 8px;
  left: 0;
  color: #161616;
}
.expenseShowMoreIcon {
  right: 35% !important;
}
.icons {
  color: rgba(0, 0, 0, 0.87);
}
.pageLogo.avatar {
  width: 35px;
  height: 35px;
  border-radius: 0;
}
.platformVersion {
  margin-left: 17px;
}
.notifLI {
  position: relative;
}
.notifLength {
  position: absolute;
  color: red;
  left: 45px;
  top: 0;
  font-size: 16px;
  font-weight: bold;
}