.PrimeUser {
  margin: 100px auto;
  width: 70%;
  .root {
    width: 100%;
    margin-top: 24px;
    overflow-x: auto;
    font-size: 13px;
    z-index: 100;
  }
  .table {
    min-width: 450px;
  }
  .centerAlign {
    text-align: center;
    margin-top: 20px;
  }
  .typography {
    padding: 16px;
    margin-bottom: 16px;
    max-width: 350px;
  }
  .textField {
    width: 100%;
    height: 130px;
  }
  .downloadTargetLink {
    position: relative;
    bottom: 25px;
    left: 10px;
  }
  .tableRow {
    & i {
      margin-bottom: 0 !important;
    }
  }
  @media only screen and (max-width: 992px) {
    width: 90%;
    .button-group {
      width: auto;
    }
  }
  .tableHeading {
    text-align: center;
  }
  .userPosts {
    display: flex;
    justify-content: flex-end;
    a { 
      font-size: 20px;
      &:hover {
        color: #65cdff;
        text-decoration: underline;
      }
    }
  }
  .premium-package {
    width: 60%;
    margin-bottom: 50px;
    .premium-inputs {
      display: flex;
      justify-content: space-between;
      .input-field {
        width: 40%;
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        input[type=number] {
          -moz-appearance:textfield;
        }
        &:last-child {
          width: 10%;
        }
      }
    }
  }
  .current-invoice {
    color: rgb(0, 150, 0);
  }
}
.PrimeSpace {
  .buttonUp {
    position: fixed;
    bottom: 10px;
    right: 10px;
  }
  .tabBox {
    margin: 15px auto;
  }
}
.PrimeSummary.card {
  width: 320px;
  margin: 10px;
  .btnPosition {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  .avatar {
    margin: 10px;
  }
  .cardImage {
    max-width: 100%;
    max-height: calc(100vh - 250px);
  }
  .contentTypeIcon {
    margin: 5px;
    font-size: 15px;
  }
  .contentTypeImage {
    width: 15px;
    margin: 0 5px;
    transform: translateY(3px);
  }
  .actions {
    display: flex;
    position: relative;
  }
  .postInfoIcon {
    background: transparent;
    cursor: default;
    &:hover {
      background-color: transparent;
    }
    &:focus {
      background-color: transparent;
    }
  }
  .numberViews {
    font-size: 18px;
    margin-left: 10px;
    margin-top: -3px;
  }
}

.social-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .social-icon {
    margin: 20px 10px;
    color: black;
    font-size: 24px;
  }
  .image-logo {
    width: 20px;
  }
}

.button-group {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 25px;
}

.reject-message-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: -80px;

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    input {
      margin-top: 20px;
    }
  }
}
