
.root {
    min-width: 250px;
}
.targetEditButton {
    position: absolute;
    top: 0;
    color: transparent;
    border: none;
    background: transparent;
    height: 38px;
    margin-top: 25px;
    margin-left: 20px;
    padding: 5px 24px;
    transition: 0.3s;
}
.targetEditIcon {
    margin-left: -15px;
    color: lightgrey;
    font-size: 35px;
    transition: 0.4s;
}
.targetEditText {
    position: relative;
    top: -7px;
    left: 10px;
    font-size: 14px;
}
.closeButton {
    position: absolute;
    top: 15px;
    right: 0;
}

.CropTargetImage {
    text-align: center;
    .CropImageInput {
        display: none;
    }
    .rightIcon {
        margin-left: 8px;
    }
    .uploadButton {
        position: absolute;
        bottom: 10px;
        right: 40%;
    }
}