.package-modal {
  // .MuiPaper-root {
  //   min-width: 650px;
  // }
  .modal-title {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    margin-bottom: 10px;
  }
  .close-button {
    margin-top: -15px;
  }
  .modal-content {
    .content-header {
      margin-bottom: 15px;
      justify-content: center;
      .header-tabs {
        display: flex;
        justify-content: center;
      }
      .transparent-focus {
        background: transparent;
      }
    }
    .cards-container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
}
.package-modal-container {
  button {
    margin-top: 20px;
    &:focus {
      background-color: #3f51b5;
    }
  }
}
