.Notifications {
  margin-top: 25px;
}
.NotifList {
  position: relative;
  margin: 15px 0;
  min-height: 60px;
  background: #fff;
  z-index: 20;
  &:after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 5px;
    height: 100%;
  }
}
.newNotification {
  background: #cacaca;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
}
.NotifList.NotifType_like::after {
  background: red;
}
.NotifList.NotifType_follow::after {
  background: #03a9dc;
}
.NotifList.NotifType_accept::after {
  background: #188e00;
}
.NotifList.NotifType_reject::after, .NotifList.NotifType_delete::after {
  background: rgb(170, 11, 0) ;
}
.NotifList.NotifType_purchase::after {
  background: #60ff40;
}
.NotifList.NotifType_tofollowers::after {
  background: #b31f74;
}
.NotifCard {
  padding: 10px 25px;
  display: flex;
  align-items: center;
  height: 100%;
}
.NotifAvatar {
  margin-right: 20px;
  height: 40px;
  & img {
    width: 40px;
    border-radius: 50%;
  }
}
.ZeroNotification {
  margin-top: 100px;
  text-align: center;
}