.NoPayout {
  margin-top: 100px;
  text-align: center;
}
.Payout {
  margin: 100px auto;
  width: 80%;
  .root {
    width: 100%;
    margin-top: 24px;
    overflow-x: auto;
    font-size: 13px;
    z-index: 100;
  }
  .PayoutTable {
    min-width: 650px;
  }
}
.PayoutBtn {
  margin: 25px 0;
  text-align: center;
}