.PayoutBtn {
  margin: 25px 0;
  text-align: center;
}
.dialogContent {
  margin: 0;
  padding: 16px;
}
.creatorCredentials {
  min-width: 600px;
} 
.credentialsText {
  line-height: 2em;
  font-size: 15px;
  margin-bottom: 40px;
}
.dialogActions {
  justify-content: center; 
  padding: 10px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  margin: 0;
  padding: 8px;
}
.sendRequestBtn {
  padding: 5px 10px;
  &:disabled {
      cursor: not-allowed;
      pointer-events: all;
      background: #9F9F9F !important;
  }
}