.TriggerFullModal {
  cursor: pointer;
  .cardTitle {
    opacity: 0;
    top: 50%;
    left: 50% !important;
    bottom: unset !important;
    font-size: 18px !important;
    transform: translate(-50%, -50%);
    transition: 0.3s;
  }
}
.TriggerFullModalDialog {
  .dialogTitle {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    margin: 0;
    padding: 16px;
  }
  .closeButton {
    position: absolute;
    right: 8px;
    top: 8px;
    color: #9e9e9e;
  }
  .modalImage {
    max-width: 50%;
  }
}
.fullTargetImage {
  max-width: 100%; 
  max-height: calc(100vh - 250px);
}