.XRPost {
  width: 300px;
  margin: 10px;
  .avatar {
    margin: 10px;
  }
  .cardImage {
    max-width: 100%;
    max-height: calc(100vh - 250px);
    min-height: 190px;
  }
  .actions, .postViews {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .creatorLink {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
    &:hover {
      text-decoration: underline;
    }
  }
  .XRTags {
    p {
      display: inline-block;
      font-size: 16px;
      background: rgba(0, 0, 0, 0.3);
      margin: 0 10px 10px 0;
      color: #fff;
      padding: 5px 10px;
      &::first-letter {
        text-transform: capitalize;
      }
    }
  }
  .postInfoIcon {
    cursor: pointer;
    background: transparent;
    &:hover {
        background-color: transparent;
    }
    &:focus {
        background-color: transparent;
    }
  }
}
