.user-card {
  width: 280px;
  margin: 10px auto;
}
.user {
  position: relative;
  overflow: hidden;
  width: 250px;
  margin: 10px 0 30px;
  padding-top: 15px;
  border: 0.1px solid #eaecec;
  border-radius: 40px;
  text-align: center;
  box-shadow: 2px 3px 27px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  background: #fff;
}
@media screen and (max-width: 1200px) {
  .user {
    padding-top: 0;
  }
}
@media screen and (max-width: 767px) {
  .user {
    padding-top: 28px;
    margin: 0 auto;
  }
}

.user .header {
  position: relative;
  border: 0.1px gray;
  padding: 20px;
  padding-top: 0;
  border-radius: 40px 40px 0 0;
  z-index: 600;
}

.user .header img {
  position: relative;
  border-radius: 50%;
  width: 148px;
  height: 148px;
  border: 0.1px solid gray;
  margin-bottom: 10px;
  z-index: -55;
}

.user p {
  color: #000000;
  font-size: 20px;
  margin: 0;
  text-transform: uppercase;
}

.user span {
  font-style: italic;
}

.user .body {
  position: relative;
  transform: translateY(-14.5em);
  z-index: 700;
  margin-top: 250px;
  margin-bottom: -195px;
}

.user .hashtags {
  margin: 0 1em;
}

.user .hashtags p,
.user .user-bio p {
  font-size: 12px;
  text-transform: none;
  margin-top: 13px;
}
.user .user-bio p {
  text-align: left;
  padding: 15px;
}

.Ocean {
  position: absolute;
  width: 250px;
  transform: rotate(180deg);
  margin-top: -5px;
  z-index: 500;
}

.Coral {
  height: 247px;
  color: black;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  border: none;
  background: transparent;
  outline: none;
  color: black;
  position: relative;
  letter-spacing: 0.1em;
  font-weight: 400;
  padding: 1rem 4.8rem 2rem 4rem;
  text-transform: uppercase;
  font-size: 1.5em;
  transform: translateY(8.6em);
  border-radius: 0 0 40px 40px;
  transition: all 1s ease;
}

.Coral a {
  text-decoration: none;
}

.Coral span {
  position: absolute;
  top: 1.75em;
  left: 50%;
  width: 20em;
  height: 20em;
  margin-left: -10em;
  border-radius: 42.5%;
  transform-origin: 50% 50%;
  transition: all 1s ease, top 1.5s ease;
  z-index: 111;
}

.Coral .Coralwave1 {
  background: linear-gradient(-90deg, #75cff3, #4961d0);
  animation: smallwave 8s infinite linear;
  z-index: -1;
}

.Coral .Coralwave2 {
  background: linear-gradient(-90deg, #5e3dba, #4a60d0);
  animation: smallwave 10s infinite linear;
  z-index: -1;
}

.Coral .Coralwave3 {
  background: linear-gradient(-90deg, #6f1ea8, #d91555);
  animation: smallwave 6s infinite linear;
  z-index: -1;
}

.Coral:hover {
  transition: all 1s ease;
}

.Coral:hover span {
  top: 0.5em;
  transition: all 1s ease, top 1.5s ease;
}

@keyframes wave {
  0% {
    transform: rotate(0deg) scale(1);
  }

  50% {
    transform: rotate(180deg) scale(0.975);
  }

  100% {
    transform: rotate(360deg) scale(1);
  }
}

@keyframes smallwave {
  0% {
    transform: rotate(0deg) scale(1);
    opacity: 0.9;
  }

  50% {
    transform: rotate(180deg) scale(0.95);
    opacity: 0.7;
  }

  100% {
    transform: rotate(360deg) scale(1);
    opacity: 0.9;
  }
}

@media screen and (max-width: 767px) {
  .Coral {
    transform: translateY(9.9em);
  }
}

.image-logo {
  width: 20px;
}

.social-icon {
  margin: 20px 10px;
  color: black;
  font-size: 24px;
}
.follow-button {
  padding: 15px 30px;
  border-radius: 50px;
  color: #fff;
  background: linear-gradient(90deg, #6e3694, #5253c9, #6f22a5);
  background-size: '400%';
  transition: '0.5s';
  animation: animate 8s linear infinite;
  cursor: pointer;
  outline: none;
  width: 150px;
  border: none;
}

@keyframes animate {
  from {
    background-position: 0;
  }

  to {
    background-position: 400%;
  }
}
