html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #e9ebee;
}

.nav.nav-wrapper {
  background-image: linear-gradient(
    to right,
    #0e131c,
    #0e131c,
    #2155c3,
    #2155c3
  );
}
.brand-logo img {
  width: 45px;
  margin-top: 10px;
}
.profile-img {
  border-radius: 50%;
  margin-top: 10px;
  width: 45px;
  margin-right: 10px;
}
form {
  padding: 20px;
  margin-top: 60px;
}
form button,
form h5 {
  margin: 20px 0;
}
.dashboard-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

@media only screen and (device-width: 768px) {
  .dashboard-loader {
    position: absolute;
    top: 40%;
    left: 60%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
@media only screen and (device-width: 1024px) {
  .dashboard-loader {
    position: absolute;
    top: 30%;
    left: 60%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

.card-image:hover .cardTitle {
  opacity: 1;
}

.card-image:hover .CARD_IMAGE {
  filter: blur(3px) brightness(50%);
}
input[name='postID']::selection {
  background: transparent; /* WebKit/Blink Browsers */
}
/*EDIT POST Target Image*/
.target-image:hover .target-edit-button {
  top: 0;
  color: #fff;
  border: 3px solid white;
  height: 38px;
  padding: 5px 24px;
  position: absolute;
  background: black;
  margin-top: 25px;
  margin-left: 20px;
  cursor: pointer;
}
.target-image:hover .target-edit-icon {
  font-size: 24px;
}
@media only screen and (min-width: 600px) {
  a.active span {
    color: red;
  }
}
@media only screen and (max-width: 576px) {
  .SignInButtons {
    padding-right: 40px;
    margin: -4px;
  }
  .SignInButtons li a{
    padding-top: 11px;
    line-height: 45px;
  }
}


.wasNotFound {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  font-weight: bold;
  font-size: 28px;
}
.wasNotFound p {
  margin-right: 25px;
}

/* Styles for selected tags */
.ReactTags__selected span.ReactTags__tag {
  border: 1px solid #ddd;
  background: #eee;
  font-size: 15px;
  display: inline-block;
  padding: 5px;
  margin: 0 5px;
  cursor: move;
  border-radius: 2px;
}
.ReactTags__selected a.ReactTags__remove {
  color: #aaa;
  margin-left: 5px;
  cursor: pointer;
}
/*Creator Profile adding skiills*/
.ReactTags__tagInput {
  position: relative;
  border-radius: 2px;
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
}
.ReactTags__tagInput input.ReactTags__tagInputField,
.ReactTags__tagInput input.ReactTags__tagInputField:focus {
  margin: 0;
  width: 100%;
  padding: 0 4px;
}
.ReactTags__selected span.ReactTags__tag {
  border: 1px solid #ddd;
  background: #eee;
  display: inline-block;
  padding: 5px;
  margin: 0 5px;
  cursor: move;
  border-radius: 2px;
}
/* Styles for react tags suggestions */
.ReactTags__suggestions {
  position: absolute;
  z-index: 1000;
  width: 100%;
}
.ReactTags__suggestions ul {
  list-style-type: none;
  box-shadow: 0.05em 0.01em 0.5em rgba(0, 0, 0, 0.2);
  background: white;
}
.ReactTags__suggestions li {
  border-bottom: 1px solid #ddd;
  padding: 5px 10px;
  margin: 0;
}

.ReactTags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}
.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
  background: #b7cfe0;
  cursor: pointer;
}
/*end stlyes for react tags suggestions*/
