/*Creator Profile adding skiills*/
.post-preview .ReactTags__tags {
  margin-bottom: 20px;
}
.post-preview .ReactTags__tagInput {
  width: 330px;
}
.post-preview .ReactTags__tagInput input.ReactTags__tagInputField,
.post-preview .ReactTags__tagInput input.ReactTags__tagInputField:focus {
  height: 35px;
  font-size: 1rem;
  border-bottom: 1px solid #9e9e9e;
}
/* Styles for selected tags */
.post-preview .ReactTags__selected span.ReactTags__tag {
  font-size: 15px;
}
/* Styles for suggestions */
.post-preview .ReactTags__suggestions ul {
  width: 330px;
}
/*end adding skills*/
/*active nav links*/