.ArNameDescription {
    .ArNameRow {
        margin-top: 10%;
    }
    .ArNameBtn {
        margin: 15px;
    }
    .stepHeader {
        margin-top: 5px;
    }
    .description-textarea {
        width: 100%;
    }
}
.Choose3DType {
    .group {
        flex-direction: row;
        margin: 20px 0;
    }
    .priceLabel {
        font-size: 14px;
        color: black;
    }
    @media (max-width: 600px) {
        .modelType {
          flex-direction: column;
          align-items: flex-end;
          margin-left: -95px;
        }
    }
}
.ChooseContentType {
    .ContentTypeRow {
        margin-top: 10%;
    }
    .stepHeader {
        margin-top: 5px;
    }
    @media (max-width: 600px) {
        .stepHeader {
            margin-top: 25px;
        }
    }
    .ContentTypeBtn {
        margin: 15px !important;
        width: 145px !important;
        height: 145px !important;
        border-radius: 50%;
        line-height: 2;
    }
    .ContentTypeBtn:disabled {
        background: #6975b7 !important; 
        cursor: not-allowed;
        pointer-events: all;
        color: #fff;
    }
    .buttonText {
        font-size: 15px;
    }
    .icon {
        font-size: 2.6rem !important;
    }
    .iconImage {
        width: 65px;
    }
    .polyIcon {
        margin: 0 11px 0;
    }
    .video360 {
        margin: 0 28px 0;
    }
    .youtubevideo360 {
        margin: 0 11px 0;
    }
    .arTypeContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .contentSection {
        margin: 25px 0;
    }
    .divider {
        border-radius: 15px 0;
        margin: 35px 0;
        font-size: 22px;
    }
}
.PostPreview {
    .group {
        display: flex;
        flex-direction: row;
    }
    .dropzone {
        border: none;
    }
    .linkLabel {
        text-align: left;
    }
    .tagLabel {
        text-align: center;
        margin: 0;
        padding-top: 30px;
        color: red;
    }
    .stepHeader {
        margin-top: 5px;
    }
    .postCreateBtn:disabled {
        cursor: not-allowed;
        pointer-events: all;
    }
    .postCreateBtn:hover:disabled {
        opacity: 0.7;
    }
    .postType {
        color: #f50057; 
        text-transform: capitalize;
    }
    @media (max-width: 600px) {
        .stepHeader {
            margin-top: 20px;
        }
    }
}

.UploadContent {
    .dropzoneContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .colorPickerLabel {
        margin-right: 15px;
    }
    .uploadedFileName {
        padding: 10px;
        border-radius: 5px;
    }
    .stepHeader {
        margin-top: 5px;
        margin-left: -60px;
    }
    @media (max-width: 600px) {
        .stepHeader {
            margin-left: 0;
        }
    }
    .hideDropzone {
        width: auto;
        height: auto;
    }
}
.UploadTargetImage {
    .group {
        flex-direction: row;
        margin: 20px 0;
    }
    .dropzoneContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .hideDropzone {
        width: auto;
        height: auto;
    }
    .uploadMoreButton {
        margin: 15px;
    }
    .stepHeader {
        margin-top: 5px;
        margin-left: -60px;
    }
    @media (max-width: 600px) {
        .stepHeader {
            margin-left: 0;
        }
    }
}