.resetPassword {
    margin-left: 50%;
    font-size: 14px;
}
.signinButton {
    width: 89%;
}
.facebookGoogleButton {
    margin-top: 2px;
    width: 100%;
    i {
        font-size: 14px;
    }
}
.showPassIcon {
    position: absolute;
    top: 10px;
    right: 0;
    float: right;
    cursor: pointer;
}
.privacyContainer {
    position: absolute;
    left: 40px;
    bottom: -35px;
}
@media (max-width: 600px) {
    .privacyContainer {
      left: 20px;
    }
}
.privacyLink {
    margin: 15px;
}
.formStyle {
    width: 325px;
    margin: auto;
    transform: translateY(15%);
    text-align: center;
    background-color: white;
    @media only screen and (max-width: 600px) {
       width: 290px;
    }
}