.StatModal {
  margin-left: auto;
  .appBar {
    position: relative;
    margin-bottom: 15px;
  }
  .flex {
    flex: 1;
  }

  .postInfoIconlink {
    &:hover {
      background-color: transparent;
    }
    &:focus {
      background-color: transparent;
    }
  }
}
.card_content {
  margin-top: 80px;
}
.demo {
  .paper {
    width: 220px;
    text-align: center;
    margin: 0 auto;

    .more_info_content {
      color: #ce0564;
    }
  }
}
